<!DOCTYPE html><html lang="vi" cversion="1.0.41"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <!-- Standard meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0;">
    <meta name="description" content="Tìm vé tàu, đặt vé tàu trực tuyến, mua vé tàu trực tuyến, tra cứu thông tin hành trình về giờ tàu và giá vé, tra cứu lại thông tin vé đã đặt">
    <meta name="author" content="Tập đoàn Đường sắt Quốc gia Việt Nam">
    <!--<script type="text/javascript">
        document.cookie = "t=c";
        if (0 != (document.cookie ? 1 : 0)) {
            var a; a: { if (document.cookie) try { var b = /CheckBrowser=(1|0)/i; if (null != b.exec(document.cookie)) { a = b.exec(document.cookie)[0].split("=")[1]; break a } } catch (c) { } a = "" } if ("" == a) {
                var d; a: { try { var e = window.navigator.userAgent, f = { a: /MSIE \d+./i }, g; for (g in f) if (null != f[g].exec(e)) { var h = f[g].exec(e)[0]; if ("ie" == g && 9 > h.split(" ")[1].split(".")[0]) { d = "true"; break a } } } catch (k) { } d = "false" } "false" == d ? document.cookie = "CheckBrowser=1" : (document.cookie = "CheckBrowser=0", document.location =
                "nosupport.html")
            } else 0 == a && (document.location = "nosupport.html")
        };
    </script>-->
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Site title -->
    <title>Tập đoàn Đường sắt Quốc gia Việt Nam - Bán vé tàu trực tuyến</title>
    <!--<script>
        if (window.location.protocol != "https:")
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>-->
    <!-- compiled CSS -->
    <link rel="stylesheet" media="screen and (min-width: 912px)" href="/css/bootstrap-cerulean.min.css">
    <link rel="stylesheet" type="text/css" href="content/ETicket-1.0.41.css">
    <link rel="stylesheet" media="screen and (max-width: 911px)" href="/css/bootstrap.min.css">
    <!--<link rel='stylesheet' media='screen and (max-width: 911px)' href="/content/site-mobile.css" />-->
    <style>
        .cheap-ticket-new-badge {
            display: inline-block;
            margin-left: 4px;
            padding: 1px 4px;
            border-radius: 3px;
            background: #e53935;
            color: #fff;
            font-size: 8px;
            line-height: 1.2;
            position: relative;
            top: -5px;
        }

        @media (min-width: 1286px) {
            .adv-left {
                float: left;
                display: block;
                position: fixed;
                top: 146px;
                left: calc(50% - 629px);
                left: -webkit-calccalc(50% - 629px);
                left: -moz-calc(50% - 629px);
            }
            .adv-right {
                float: right;
                display: block;
                position: fixed;
                top: 146px;
                right: calc(50% - 629px);
                right: -webkit-calccalc(50% - 629px);
                right: -moz-calc(50% - 629px);
            }
        }

        @media (max-width: 1286px) {
            .adv-left {
                display: none;
            }
            .adv-right {
                display: none;
            }
        }
    </style>
    <script id="CakeAIChatbotApp" src="https://chatbot.84soft.vn/index.min.js" async="" crossorigin="anonymous"></script><script type="text/javascript">

        var abp = abp || {};
        abp.appPath = '/';
    </script>
    <!-- Google Tag Manager -->
    <!--
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M5KLS6');</script>
    -->
    <!-- End Google Tag Manager -->
   
    <style>
        .navbar-toggle {
            margin-right: 28px;
        }

        .navbar {
            margin-bottom: 5px;
            margin: -0.5px -15px;
        }

        .navbar-brand {
            padding: 15px 30px;
        }

        .navbar-nav > li > a {
            padding-left: 30px;
            color: white;
        }

        .navbar-default .navbar-brand {
            color: white;
        }

        .navbar-default .navbar-nav > li > a {
            color: #f1f1f1;
            transition: 0.5s;
        }

        .navbar-default .navbar-nav > li:hover {
            background-color: #1995dc;
        }

        .navbar-nav {
            margin: 0.5px -15px;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #f1f1f1;
        }

        .cart-item {
            position: absolute;
            right: 13px;
            top: 30px;
            background: #f89406;
            color: #ffffff;
            padding: 2px 5px;
            display: inline-block;
            border-radius: 16px;
            font-size: 9px;
            z-index: 1000;
        }

        .fa {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }

        .visible-xs {
            display: block !important;
        }
    @-webkit-keyframes marqueeAnimation-2007668  { 100%  {margin-left:-0px}}</style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5KLS6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    <div ng-app="app" class="super-container ng-scope">
        <div id="menu-fixed">
            <div class="visible-print">
                <h3 style="border-bottom: solid 1px #ccc;padding-bottom: 6px;margin-bottom: -20px;">Tập đoàn Đường sắt Quốc gia Việt Nam</h3>
            </div>
            <div class="et-banner hidden-print">
                <div class="container et-banner" style="max-width:1024px;">
                    <div class="pull-left banner-logo">
                        <div class="pull-left banner-logo"><img src="/images/LOGO_n.png"></div>
                        <div class="pull-left" id="bannerDate">Thứ tư, 16/09/2026</div>
                    </div>
                    <div class="pull-right banner-language">
                        <div class="text-right" ng-show="!bannerTet">
                            <!--<a href="javascript:;" translation-lang="en"><img src="/images/en-icon.png" width="20" height="20" /></a>
                            <a href="javascript:;" translation-lang="vi"><img src="/images/vn-icon.gif" width="20" height="16" /></a>-->
                        </div>
                        <div class="text-right banner-logo-2" style="padding-top: 20px;display:none;"><img src="/images/fpt-logo2.png" width="75" height="48"></div>
                        <div class="text-right ticket-cart-number" style="padding-top: 6px; display:none;">
                            <div et-ticket-cart-number=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ngInclude: 'app/tet/tet.html' -->
        <div class="navbar-default bg-primary ng-scope" role="navigation" ng-controller="app.controllers.layout.layout" ng-show="!bannerTet" style="margin-top:10PX;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="false" id="buton-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="nav">
                        <!--<ul class="nav navbar-nav" ng-if="showMenu()" ng-show="showMenu()">-->
                        <!-- ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-image-menu" href="#/">
                                <!-- ngIf: route.config.menuImage != undefined --><span class="glyphicon glyphicon-home ng-scope" ng-if="route.config.menuImage != undefined"></span><!-- end ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/timve" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-text-menu" href="#/timve">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">TÌM VÉ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="https://giavere.dsvn.vn/" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="_blank_" class="nav-menu et-text-menu" href="https://giavere.dsvn.vn/">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">TÌM GIÁ VÉ RẺ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' --><span class="cheap-ticket-new-badge ng-scope" ng-if="route.config.menuItem == 'cheapPrice'" aria-label="New">NEW</span><!-- end ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/thongtingiaodich" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-text-menu" href="#/thongtingiaodich">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">THÔNG TIN ĐẶT CHỖ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/trave" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-text-menu" href="#/trave">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">TRẢ/ĐỔI VÉ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/kiemtrave" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-text-menu" href="#/kiemtrave">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">KIỂM TRA VÉ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="https://k.vnticketonline.vn/#/thongtinhanhtrinh/gadi" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="_blank_" class="nav-menu et-text-menu" href="https://k.vnticketonline.vn/#/thongtinhanhtrinh/gadi">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">GIỜ TÀU - GIÁ VÉ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="https://cophanvantaiduongsat.vn/category/tin-tuc/tin-khuyen-mai" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="_blank_" class="nav-menu et-text-menu" href="https://cophanvantaiduongsat.vn/category/tin-tuc/tin-khuyen-mai">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">KHUYẾN MẠI</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/quydinhmuave" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-text-menu" href="#/quydinhmuave">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">CÁC QUY ĐỊNH</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu --><li ng-repeat="route in routes | filter:true:route.config.showInMenu" ng-click="changeMenuItem(route.config)" class="ng-scope">
                            <a ng-href="#/lienhe" ng-class="{'et-text-menu': !route.config.menuImage, 'et-image-menu': route.config.menuImage}" target="" class="nav-menu et-text-menu" href="#/lienhe">
                                <!-- ngIf: route.config.menuImage != undefined -->
                                <!-- ngIf: route.config.menuImage == undefined --><span ng-if="route.config.menuImage == undefined" class="ng-binding ng-scope">LIÊN HỆ</span><!-- end ngIf: route.config.menuImage == undefined -->
                                <!-- ngIf: route.config.menuItem == 'cheapPrice' -->
                            </a>
                        </li><!-- end ngRepeat: route in routes | filter:true:route.config.showInMenu -->
                        <!--<li id="language"><a href='javascript:;' translation-lang='en'>ENGLISH &nbsp;<img src='/images/en-icon.png' width='20' height='20' /></a>
                        </li>-->
                        <li>
                            <a href="javascript:;" style="padding: 4px 9px !important; display: none;" class="nav-menu et-text-menu" translation-lang="vi" ng-style="{'display': language=='vi'?'none':'block'}">TIẾNG VIỆT &nbsp;<img src="/images/vn-icon.gif" width="20" height="16"></a>
                            <a href="javascript:;" style="padding: 4px 9px !important; display: block;" class="nav-menu et-text-menu" translation-lang="en" ng-style="{'display': language=='en'?'none':'block'}">ENGLISH &nbsp;<img src="/images/en-icon.png" width="20" height="20"></a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="adv-left">
            <a target="_blank" href="http://www.vr.com.vn/cam-nang-di-tau/khuyen-cao-khach-hang-chu-y-khi-mua-ve-truc-tuyen.html">
                <img src="images/dsvn1.jpg">
            </a>
        </div>
        <div class="text-center text-primary ng-binding ng-hide" ng-show="!loadedSettings" ng-bind-html="'Error_SystemLoading'|translate">Hệ thống đang tải dữ liệu, vui lòng đợi trong giây lát...</div>
        <div class="container et-main-content" ng-show="!bannerTet">
            <div class="marquee"><div style="width: 100000px; margin-left: 992px; animation: 15s linear 1s infinite normal none running marqueeAnimation-2007668;" class="js-marquee-wrapper"><div class="js-marquee" style="margin-right: 0px; float: left;"></div></div></div>
            <!-- ngView:  -->
            <div class="row hidden-print" style="padding-top: 15px; display: none;clear:both;">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>QUY ĐỊNH ĐỔI, TRẢ VÉ TẾT ẤT TỴ 2025</strong></h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>1. Thời gian cao điểm Tết: Mức khấu trừ đối với vé trả lại, đổi vé là 30% giá tiền in trên Thẻ lên tàu hỏa (vé).</strong></p>
                            <p>- Từ ngày 21/01/2025 đến ngày 31/01/2025: đối với đoàn tàu số chẵn.</p>
                            <p>- Từ ngày 01/02/2025 đến ngày 09/02/2025: đối với đoàn tàu số lẻ.</p>
                            <p>- Từ ngày 23/01/2025 đến ngày 27/01/2025: đối với đoàn tàu số lẻ có ga đi là ga Hà Nội và có ga đến từ ga Phủ Lý đến ga Đồng Hới.</p>
                            <p>- Từ ngày 31/01/2025 đến ngày 09/02/2025: đối với đoàn tàu số chẵn có ga đi từ ga Đồng Hới đến ga Phủ Lý và có ga đến là ga Hà Nội.</p>
                            <p>(*) Thời gian đổi, trả vé</p>
                            <p>- Hành khách đổi, trả vé cá nhân: chậm nhất trước giờ tàu chạy là 24 giờ.</p>
                            <p>- Hành khách trả vé tập thể: chậm nhất trước giờ tàu chạy là 48 giờ.</p>

                            <p><strong>2. Ngoài thời gian quy định tại điểm (1.) nêu trên, mức khấu trừ phí, thời gian đổi, trả vé thực hiện như sau:</strong></p>
                            <p>- Đổi vé: Vé cá nhân đổi trước giờ tàu chạy 24 giờ trở lên, lệ phí là 20.000 đồng/vé; không áp dụng đổi vé đối với vé tập thể.</p>
                            <p>- Trả vé:</p>
                            <p>&nbsp; &nbsp;+ Vé cá nhân: Trả vé trước giờ tàu chạy từ 4 giờ đến dưới 24 giờ, lệ phí là 20% giá vé; từ 24 giờ trở lên lệ phí là 10% giá vé.</p>
                            <p>&nbsp; &nbsp;+ Vé tập thể: Trả vé trước giờ tàu chạy từ 24 giờ đến dưới 72 giờ, lệ phí là 20% giá vé; từ 72 giờ trở lên lệ phí là 10% giá vé.</p>

                            <p><strong>3. Hình thức trả vé.</strong></p>
                            <p>- Khi hành khách mua vé và thanh toán online qua website bán vé của Ngành Đường sắt, app bán vé hoặc các ứng dụng mua vé tàu hỏa của các đối tác thứ ba thì có thể trả vé online qua các website bán vé của Ngành Đường sắt hoặc đến trực tiếp nhà ga.</p>
                            <p>- Khi hành khách mua vé bằng các hình thức khác, muốn đổi vé, trả vé hành khách đến trực tiếp nhà ga kèm theo giấy tờ tùy thân bản chính của người đi tàu (hoặc người mua vé) cho nhân viên đường sắt. Đồng thời, thông tin trên thẻ đi tàu phải trùng khớp với giấy tờ tùy thân của hành khách.</p>
                            <i>Trân trọng cảm ơn!.</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-print" style="margin-top: 15px; display: none;">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Quy định đổi, trả vé: từ ngày 6/2/2023 đến ngày 26/4/2023</h3>
                        </div>
                        <div class="panel-body">
                            <p>1. Thời gian, mức phí đổi trả vé:</p>
                            <p>- Đổi vé: Vé cá nhân đổi trước giờ tàu chạy 24 giờ trở lên, lệ phí là 20.000 đồng/vé, dưới 24 giờ không đổi vé; không áp dụng đổi vé đối với vé tập thể.</p>
                            <p>- Trả vé:</p>
                            <p>&nbsp; &nbsp; + Vé cá nhân: Trả vé trước giờ tàu chạy từ 24 giờ trở lên lệ phí là 10% giá vé, từ 4 giờ đến dưới 24 giờ lệ phí là 20% giá vé, dưới 4 giờ không trả vé.</p>
                            <p>&nbsp; &nbsp; + Vé tập thể: Trả vé trước giờ tàu chạy từ 72 giờ trở lên lệ phí là 10% giá vé ,từ 24 giờ đến dưới 72 giờ lệ phí là 20% giá vé, dưới 24 giờ không trả vé.</p>
                            <p>2. Hình thức trả vé.</p>
                            <p>- Khi hành khách mua vé và thanh toán online qua website bán vé của ngành Đường sắt, app bán vé hoặc các ứng dụng mua vé tàu hỏa của các đối tác thứ ba thì có thể trả vé online qua các website bán vé của ngành đường sắt hoặc đến trực tiếp nhà ga.</p>
                            <p>- Khi hành khách mua vé bằng các hình thức khác, muốn đổi vé, trả vé hành khách đến trực tiếp nhà ga kèm theo giấy tờ tùy thân bản chính của người đi tàu hoặc người mua vé cho nhân viên đường sắt. Đồng thời, thông tin trên thẻ đi tàu phải trùng khớp với giấy tờ tùy thân của hành khách.</p>
                            <i>Trân trọng cảm ơn!.</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-print" style="padding-top: 15px;clear:both;">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <a href="https://cophanvantaiduongsat.vn/2025/11/18/chinh-sach-gia-ve-quy-dinh-doi-tra-ve-tau-va-huong-dan-tai-hoa-don-ve-tau-hoa-nam-2025/" target="_blank"><strong>CHÍNH SÁCH GIÁ VÉ, QUY ĐỊNH ĐỔI - TRẢ VÉ TÀU VÀ HƯỚNG DẪN TẢI HÓA ĐƠN VÉ TÀU HỎA – Năm 2026</strong></a>
                    </div>
                </div>
            </div>
            <div class="text-center clear" style="padding-top: 15px;">
                <p>Tải ứng dụng</p>
                <a href="https://itunes.apple.com/app/id1515139705" target="_blank"><img src="/images/appstore.png" width="134" alt=""></a>
                <a href="https://play.google.com/store/apps/details?id=com.tls.dsvn.muave2" target="_blank"><img src="/images/playstore.png" width="134" alt=""></a><p></p>
                <!-- <a href="https://data.vnticketonline.vn/B608791DF2FD4267AD2322EFD20A026A/com.tls.dsvn.muave.apk" target="_blank"><img src="/images/androidapk.png" width="134" alt=""></a></p> -->
            </div>
            <div class="et-col-md-12 et-footer hidden-print ng-scope" ng-controller="app.controllers.layout.footer">
                <div class="et-footer-menu text-center" style="height:50px;">
                    <div>
                        <a href="/#/" ng-bind-html="'Menu_search'|translate" class="ng-binding">Tìm vé</a>&nbsp;|&nbsp;
                        <!--<a href="/#/trave" ng-bind-html="'Menu_returnTicket'|translate">Trả vé</a>&nbsp;|&nbsp;-->
                        <a href="/#/thongtingiaodich" ng-bind-html="'Menu_searchBookingInfo'|translate" class="ng-binding">Thông tin đặt chỗ</a>&nbsp;|&nbsp;
                        <a href="http://k.vnticketonline.vn/#/thongtinhanhtrinh/gadi" target="_blank" ng-bind-html="'Menu_trainTimeTable'|translate" class="ng-binding">Giờ tàu - Giá vé</a>&nbsp;|&nbsp;
                        <a href="/#/huongdan" ng-bind-html="'Menu_guide'|translate" class="ng-binding">Hướng dẫn</a>&nbsp;|&nbsp;
                        <a href="/#/lienhe" ng-bind-html="'Menu_contact'|translate" class="ng-binding">Liên hệ</a>
                    </div>
                    <div>
                        <a href="/#/pages/dieukienvadieukhoan" ng-bind-html="'Menu2_dieuKienDieuKhoan'|translate" class="ng-binding">Chính sách mua hàng</a>&nbsp;|&nbsp;
                        <a href="/#/pages/phuongthucthanhtoan" ng-bind-html="'Menu2_phuongThucThanhToan'|translate" class="ng-binding">Chính sách thanh toán</a>&nbsp;|&nbsp;
                        <a href="/#/pages/chinhsachhoantra" ng-bind-html="'Menu2_chinhSachHoanTraVe'|translate" class="ng-binding">Chính sách hoàn trả</a>&nbsp;|&nbsp;
                        <a href="/#/pages/chinhsachbaomat" ng-bind-html="'Menu2_chinhSachBaoMat'|translate" class="ng-binding">Chính sách bảo mật thông tin</a>
                    </div>
                </div>
                <div class="row">
                    <div class="et-col-md-12 et-footer-logo">
                        <div class="et-col-md-12 text-center" style="font-size: 16px; color: #636363;font-family:'Verdana, Geneva, Tahoma, sans-serif';">
                            <div ng-bind-html="'Footer_line1'|translate" class="ng-binding">Tập đoàn Đường sắt Quốc gia Việt Nam. Số 118 đường Lê Duẩn, Phường Văn Miếu - Quốc Tử Giám, Thành phố Hà Nội, Việt Nam.</div>
                            <!--<div ng-bind-html="'Footer_line2'|translate">Điện thoại: (84-24) 39425972. Fax: (84-24) 39422866. Email: dsvn@vr.com.vn.</div>-->
                            <div ng-bind-html="'Footer_line3'|translate" style="color:#af3f3f;" class="ng-binding">Giấy chứng nhận ĐKKD số 113642 theo QĐ thành lập số 973/QĐ-TTg ngày 25/06/2010 của Thủ tướng Chính phủ.</div>
                            <div ng-bind-html="'Footer_line4'|translate" style="color:#af3f3f;" class="ng-binding">Mã số doanh nghiệp: 0100105052, đăng ký lần đầu ngày 26/07/2010, đăng ký thay đổi lần 4 ngày 27/06/2014 tại Sở KHĐT Thành phố Hà Nội.</div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center" style="font-size: 10px; color: #999;display:none;">
                        <img src="/images/fptlogo.png" width="28" height="17">
                        Copyright by FPT Technology Solutions
                    </div>
                    <div class="col-md-12 text-center" style="font-size: 10px; color: #999;">
                        <a href="http://online.gov.vn/Home/WebDetails/69864">
                            <!--<img alt="" title="" src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" width="150" height="55">-->
                            <img alt="" title="" src="/images/logoSaleNoti.png" width="150" height="55">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="adv-right">
            <a target="_blank" href="http://www.vr.com.vn/">
                <img src="images/dsvn2.jpg">
            </a>
        </div>
    </div>

    <!-- compiled JavaScript -->
    <script type="text/javascript" src="ETicket-1.0.41.js.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-C0EKWPM0LY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-C0EKWPM0LY');
    </script>
    <!--
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-7314325-29', 'auto');
        //ga('send', 'pageview');

    </script>
        -->
    <!--
    <script type='text/javascript'>
        window._sbzq || function (e) {
            e._sbzq = [];
            var t = e._sbzq;
            t.push(["_setAccount", 13269]);
            var n = e.location.protocol == "https:" ? "https:" : "http:";
            var r = document.createElement("script");
            r.type = "text/javascript";
            r.async = true;
            r.src = n + "//static.subiz.com/public/js/loader.js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(r, i)
        }(window);
    </script>
    -->
    <script type="text/javascript">jQuery(document).ready(function () { window.setInterval(function () { jQuery("div.sbzon").addClass("hidden-print"); }, 5000); });</script>
    <script type="text/javascript">
        function get_browser_info() {
            var e, r = navigator.userAgent, i = r.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            return /trident/i.test(i[1]) ? (e = /\brv[ :]+(\d+)/g.exec(r) || [], { name: "IE", version: e[1] || "" }) : "Chrome" === i[1] && (e = r.match(/\bOPR\/(\d+)/), null != e) ? { name: "Opera", version: e[1] } : (i = i[2] ? [i[1], i[2]] : [navigator.appName, navigator.appVersion, "-?"], null != (e = r.match(/version\/(\d+)/i)) && i.splice(1, 1, e[1]), { name: i[0], version: i[1] })
        }

        function is_mobile() {
            var e = ["android", "webos", "iphone", "ipad", "blackberry"];
            for (i in e) if (navigator.userAgent.match("/" + e[i] + "/i")) return !0;
            return !1
        }

        jQuery(document).ready(function () {
            if (is_mobile()) jQuery("#menu-print").hide();
            else {
                var e = get_browser_info();
                "Chrome" == e.name && screen.width == window.innerWidth && screen.height == window.innerHeight ? (jQuery("#menu-print").show(), jQuery("#invehref").attr("href", KioskPrintUrl)) : jQuery("#menu-print").hide()
            }
        });
    </script>
    <script>
        jQuery(document).ready(function () {

            jQuery('.nav-menu').click(function () {
                jQuery("#bs-example-navbar-collapse-1").removeClass("show");
            });

        });
    </script>
    <script>
        (function (w, d, s, o, f, js, fjs) {
            w["CakeAIChatbotApp_widget"] = o;
            w[o] =
                w[o] ||
                function () {
                    (w[o].q = w[o].q || []).push(arguments);
                };
            (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
            js.id = o;
            js.src = f;
            js.async = 1;
            js.crossOrigin = "anonymous";
            fjs.parentNode.insertBefore(js, fjs);
        })(window, document, "script", "CakeAIChatbotApp", "https://chatbot.84soft.vn/index.min.js");
        CakeAIChatbotApp("init", {
            token: "c8b5d6b4-4186-497b-90bc-17b300a243f9",
        });
    </script>


</body></html>